 <html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="static/about.css">
  </head>
  <body>
    <header>
      <h1>About Us</h1>
    </header>
    <main>
      <section>
        <h2>Meet the Developer</h2>
        <img src="static/apeksha.jpg" alt="Apeksha Nimje">
        <img src="static/harsh.jpg" alt="Harsh Patidar">
        <img src="static/mahi.jpg" alt="Mahima Pal"><br>
      </section>
      <section><p>Hi, We are developer behind this website. </p></section>
      <section>
        <h2>About Local connect </h2>
        <p></p>
        <p>One of the primary goals of the platform is to create business opportunities for local vendors who may otherwise struggle to compete with larger retailers. Overall the project aims to create a more connected and supportive ecosystem for local vendors while also providing consumers with a convenient and accessible means to purchase from these vendors.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Our Company</p>
    </footer>
  </body>
</html>
