 <html>
  <head>
    <title>Admin Sign-In</title>
    <link rel="stylesheet" type="text/css" href="static/adminsignin.css">
  </head>
  <body>
    <header>
      <h1>Admin Sign-In</h1>
    </header>
    <main>
      <form action="/adminsigin" method="POST" >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Sign In">
      </form>
    </main>
    <footer>
      <p>&copy; 2023 Our Company</p>
    </footer>
  </body>
</html>
