<!DOCTYPE html>
<html>
<head>
  <title>Order Placed</title>
  <link rel="stylesheet" href="static/filename.css">
</head>
<body>
  <div id="popup">
     <h1>Generate Report</h1>
    <form action="/vendorsale" method="POST">
        <label for="filename">Enter Filename:</label>
        <input type="text" id="filename" name="filename" required>
        <button type="submit">Generate Report</button>
    </form>

    <button id="ab" ><a href="/vendorhomepage">Close</a></button>
  </div>
</body>
</html>
