<html>
    <head>
        <title>Local connect</title>

        <link rel="stylesheet" type="text/css" href="static/home.css">
    </head>
    <body>
        <header class="header">
            <img class="logo" src="static/logo1.png" alt="Local connect">
            <h1>Local connect</h1>
            <div class="options">
                <div class="dropdown">
                   <a class="option" href="#">Log In</a>
                    <div class="dropdown-content">
                        <a class="a" href="./adminlogin">Admin</a>
                        <a class="a" href="./customerlogin">Customer</a>
                        <a class="a" href="./vendorlogin">Vendor</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="option" href="#">Sign In</a>
                    <div class="dropdown-content">
                        <a class="a" href="./adminsignin">Admin</a>
                        <a class="a" href="./customersignin">Customer</a>
                        <a class="a" href="./vendorsignin">Vendor</a>
                    </div>
                </div>
                <a class="option" href="/about">About</a>
            </div>
        </header>
            <div class="maindiv">

            </div>
            <div class="line">
                <hr>
                <p>Login to get the goods</p>
                <hr>
            </div>
        </div>
    </body>
</html>
